<nav class="navbar navbar-expand-lg navbar-dark white dash-nav-bar">
    <a class="navbar-brand dash-brand" href=""><img src="assets/images/bny-logo.png"> </a>
    <button class="navbar-toggler teal-text warning-color" type="button" data-toggle="collapse" data-target="#anotherNav" aria-controls="anotherNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="anotherNav">
        <ul class="navbar-nav mr-auto some-change-ul">
            <li class="nav-item w-100 text-center resp-ul">
                <a class="nav-link teal-text font-weight-bold">my CIO</a>
            </li>
            <li class="nav-link text-left text-black-50 aligned-li">
                <i class="fa fa-search pl-4" aria-hidden="true"></i>
                <i class="fa fa-bell-o pl-4" aria-hidden="true"></i>
                <i class="fa fa-user pl-4" aria-hidden="true"></i> John Doe
            </li>
        </ul>
    </div>
</nav>