<nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark p-0 collapse-div">
    <button class="navbar-toggler toggle-btn" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item pl-4">
                <a class="nav-link text-uppercase" href="#">Analytics Reporting</a>
            </li>
            <li class="nav-item pl-4">
                <a class="nav-link text-uppercase" href="#">Server Monitoring</a>
            </li>
            <li class="nav-item active pl-4">
                <a class="nav-link text-uppercase" href="#">Dashboard</a>
            </li>
            <li class="nav-item pl-4">
                <a class="nav-link text-uppercase" href="#">Timelines</a>
            </li>
        </ul>
    </div>
</nav>
